.parent{
    margin-bottom: 100px;
    border: 1px solid aqua;
}
.child{
    margin-top: 10px;
    margin-bottom: 50px;
    border:1px solid red;
}
.center{
    margin-top: 50%;
    margin-bottom: 50%;
    border: 1px solid green;
}
